@import "../../library/scss/materialize/components/_color.scss";
@import "../../library/scss/materialize/components/_variables.scss";

#buddypress {
	padding-bottom: 2em;

	div.pagination .pagination-links a:hover, ul.button-nav li.current a {
		font-weight: 700;
	}
	div.pagination {
		background: 0 0;
		border: none;
		color: #767676;
		font-size: small;
		margin: 0;
		position: relative;
		display: block;
		float: left;
		width: 100%;
		padding: 10px 0;
		.pag-count {
			float: left;
			margin-left: 10px;
		}
		.pagination-links {
			float: right;
			margin-right: 10px;
			a, span {
				font-size: 90%;
				padding: 0 5px;
			}
		}
	}
	noscript div.pagination {
		margin-bottom: 15px;
	}
	#nav-above {
		display: none;
	}
	.paged #nav-above {
		display: block;
	}
	img.wp-smiley {
		border: none !important;
		clear: none !important;
		float: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.clear {
		clear: left;
	}
	#activity-stream {
		margin-top: -5px;
		p {
			margin: 5px 0;
		}
	}
	#item-body form#whats-new-form {
		margin: 0;
		padding: 0;
	}
	.home-page form#whats-new-form {
		border-bottom: none;
		padding-bottom: 0;
	}
	form#whats-new-form {
		#whats-new-avatar {
			float: left;
		}
		#whats-new-content {
			margin-left: 55px;
			padding: 0 0 20px 20px;
		}
		p.activity-greeting {
			line-height: .5em;
			margin-bottom: 15px;
			margin-left: 75px;
		}
		textarea {
			background: #fff;
			box-sizing: border-box;
			color: #555;
			font-family: inherit;
			font-size: medium;
			height: 2.2em;
			line-height: 1.4;
			padding: 6px;
			width: 100%;
		}
	}
}

body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}

#buddypress {
	form#whats-new-form {
		#whats-new-options select {
			max-width: 200px;
			margin-top: 12px;
		}
		#whats-new-submit {
			float: right;
			margin-top: 12px;
		}
	}
	#whats-new-options:after {
		clear: both;
		content: "";
		display: table;
	}
}

body.no-js #buddypress #whats-new-options {
	height: auto;
}

#buddypress {
	#whats-new:focus {
		border-color: rgba(31, 179, 221, 0.9) !important;
		outline-color: rgba(31, 179, 221, 0.9);
	}
	ul.activity-list li {
		overflow: hidden;
		padding: 15px 0 0;
		list-style: none;
	}
	.activity-list .activity-avatar {
		float: left;
	}
	ul.item-list.activity-list li.has-comments {
		padding-bottom: 15px;
	}
}

body.activity-permalink #buddypress ul.activity-list li.has-comments {
	padding-bottom: 0;
}

#buddypress {
	.activity-list li.mini {
		font-size: 80%;
		position: relative;
		.activity-avatar img {
			&.FB_profile_pic, &.avatar {
				height: 20px;
				margin-left: 30px;
				width: 20px;
			}
		}
	}
	.activity-permalink .activity-list li.mini .activity-avatar img {
		&.FB_profile_pic, &.avatar {
			height: auto;
			margin-left: 0;
			width: auto;
		}
	}
}

body.activity-permalink #buddypress .activity-list > li:first-child {
	padding-top: 0;
}

#buddypress .activity-list li {
	.activity-content {
		position: relative;
	}
	&.mini {
		.activity-content p {
			margin: 0;
		}
		.activity-comments {
			clear: both;
			font-size: 120%;
		}
	}
}

body.activity-permalink #buddypress li.mini .activity-meta {
	margin-top: 4px;
}

#buddypress .activity-list {
	li .activity-inreplyto {
		color: #767676;
		font-size: 80%;
		> p {
			margin: 0;
			display: inline;
		}
		blockquote, div.activity-inner {
			background: 0 0;
			border: none;
			display: inline;
			margin: 0;
			overflow: hidden;
			padding: 0;
		}
	}
	.activity-content {
		margin: 0 0 0 70px;
	}
}

body.activity-permalink #buddypress .activity-list li {
	.activity-content {
		border: none;
		font-size: 100%;
		line-height: 150%;
		margin-left: 170px;
		margin-right: 0;
		padding: 0;
	}
	.activity-header > p {
		margin: 0;
		padding: 5px 0 0;
	}
}

#buddypress {
	.activity-list .activity-content {
		.activity-header, .comment-header {
			color: #767676;
			line-height: 220%;
		}
	}
	.activity-header {
		margin-right: 20px;
	}
	.acomment-meta a, .activity-header a, .comment-meta a {
		text-decoration: none;
	}
	.activity-list .activity-content .activity-header img.avatar {
		float: none !important;
		margin: 0 5px -8px 0 !important;
	}
	a.bp-secondary-action, span.highlight {
		font-size: 80%;
		padding: 0;
		margin-right: 5px;
		text-decoration: none;
	}
	.activity-list {
		.activity-content {
			.activity-inner, blockquote {
				margin: 10px 10px 5px 0;
				overflow: hidden;
			}
		}
		li {
			&.new_forum_post .activity-content .activity-inner, &.new_forum_topic .activity-content .activity-inner {
				border-left: 2px solid #EAEAEA;
				margin-left: 5px;
				padding-left: 10px;
			}
		}
	}
}

body.activity-permalink #buddypress .activity-content {
	.activity-inner, blockquote {
		margin-left: 0;
		margin-top: 5px;
	}
}

#buddypress {
	.activity-inner > {
		p {
			word-wrap: break-word;
		}
		.activity-inner, blockquote {
			margin: 0;
		}
	}
	.activity-list .activity-content img.thumbnail {
		border: 2px solid #eee;
		float: left;
		margin: 0 10px 5px 0;
	}
	.activity-read-more {
		margin-left: 1em;
		white-space: nowrap;
	}
	.activity-list li {
		&.load-more, &.load-newest {
			background: #f0f0f0;
			font-size: 110%;
			margin: 15px 0;
			padding: 10px 15px;
			text-align: center;
		}
		&.load-more a, &.load-newest a {
			color: #4D4D4D;
		}
	}
	div.activity-meta {
		margin: 18px 0 0;
	}
}

body.activity-permalink #buddypress div.activity-meta {
	margin-bottom: 6px;
}

#buddypress {
	div.activity-meta a {
		padding: 4px 8px;
	}
	a.activity-time-since {
		color: #767676;
		text-decoration: none;
		&:hover {
			color: #767676;
			text-decoration: underline;
		}
	}
	#reply-title small a, a.bp-primary-action {
		font-size: 80%;
		margin-right: 5px;
		text-decoration: none;
	}
	#reply-title small a span, a.bp-primary-action span {
		background: #767676;
		color: #fff;
		font-size: 90%;
		margin-left: 2px;
		padding: 0 5px;
	}
	#reply-title small a:hover span, a.bp-primary-action:hover span {
		background: #555;
		color: #fff;
	}
	div.activity-comments {
		margin: 0 0 0 70px;
		overflow: hidden;
		position: relative;
		width: auto;
		clear: both;
	}
}

body.activity-permalink #buddypress div.activity-comments {
	background: 0 0;
	margin-left: 170px;
	width: auto;
}

#buddypress div.activity-comments {
	> ul {
		padding: 0 0 0 10px;
	}
	ul {
		border: none;
		list-style: none;
		li {
			border: none;
			list-style: none;
			border-top: 1px solid #eee;
			padding: 10px 0 0;
		}
		clear: both;
		margin: 0;
	}
}

body.activity-permalink #buddypress {
	.activity-list li.mini .activity-comments {
		clear: none;
		margin-top: 0;
	}
	div.activity-comments ul li {
		border-width: 1px;
		padding: 10px 0 0;
	}
}

#buddypress div.activity-comments {
	> ul > li:first-child {
		border-top: none;
	}
	ul li {
		&:last-child {
			margin-bottom: 0;
		}
		> ul {
			margin-left: 30px;
			margin-top: 0;
			padding-left: 10px;
		}
	}
}

body.activity-permalink #buddypress div.activity-comments {
	ul li > ul {
		margin-top: 10px;
	}
	> ul {
		padding: 0 10px 0 15px;
	}
}

#buddypress div {
	&.activity-comments div {
		&.acomment-avatar img {
			border-width: 1px;
			float: left;
			height: 25px;
			margin-right: 10px;
			width: 25px;
		}
		&.acomment-content {
			font-size: 80%;
			margin: 5px 0 0 40px;
		}
	}
	&.acomment-content {
		.activity-delete-link, .comment-header, .time-since {
			display: none;
		}
	}
}

body.activity-permalink #buddypress div.activity-comments div.acomment-content {
	font-size: 90%;
}

#buddypress {
	div {
		&.activity-comments {
			div.acomment-meta {
				color: #767676;
				font-size: 80%;
			}
			form.ac-form {
				display: none;
				padding: 10px;
			}
			li form.ac-form {
				margin-right: 15px;
				clear: both;
			}
			form.root {
				margin-left: 0;
			}
			div#message {
				margin-top: 15px;
				margin-bottom: 0;
			}
			form {
				.ac-textarea {
					background: #fff;
					border: 1px inset #ccc;
					margin-bottom: 10px;
					padding: 8px;
				}
				textarea {
					border: none;
					background: 0 0;
					box-shadow: none;
					outline: 0;
					color: #555;
					font-family: inherit;
					font-size: 100%;
					height: 60px;
					padding: 0;
					margin: 0;
					width: 100%;
				}
				input {
					margin-top: 5px;
				}
				div.ac-reply-avatar {
					float: left;
				}
			}
		}
		&.ac-reply-avatar img {
			border: 1px solid #eee;
		}
		&.activity-comments form div.ac-reply-content {
			color: #767676;
			margin-left: 50px;
			padding-left: 15px;
			a {
				text-decoration: none;
			}
		}
	}
	.acomment-options {
		float: left;
		margin: 5px 0 5px 40px;
		a {
			color: #767676;
			&:hover {
				color: inherit;
			}
		}
	}
	div.dir-search {
		float: right;
		margin: -39px 0 0;
		input[type=text] {
			font-size: 90%;
			padding: 1px 3px;
		}
	}
	li.groups-members-search input[type=text] {
		font-size: 90%;
		padding: 1px 3px;
	}
	.current-member-type {
		font-style: italic;
	}
	.dir-form {
		clear: both;
	}
	div#message {
		margin: 0 0 15px;
	}
	#message.info {
		margin-bottom: 0;
	}
	div#message {
		&.updated {
			clear: both;
			display: block;
		}
		p {
			font-size: 90%;
			display: block;
			padding: 10px 15px;
		}
	}
}

#sitewide-notice p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}

#buddypress {
	div#message {
		&.error p {
			background-color: #fdc;
			border: 1px solid #a00;
			clear: left;
			color: #800;
		}
		&.warning p {
			background-color: #ffe0af;
			border: 1px solid #ffd087;
			clear: left;
			color: #800;
		}
		&.updated p {
			background-color: #efc;
			border: 1px solid #591;
			color: #250;
		}
	}
	#pass-strength-result {
		background-color: #eee;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: 5px 5px 5px 0;
		padding: 5px;
		text-align: center;
		width: 150px;
	}
	.standard-form #basic-details-section #pass-strength-result {
		width: 35%;
	}
	#pass-strength-result {
		&.bad, &.error {
			background-color: #ffb78c;
			border-color: #ff853c !important;
			display: block;
		}
		&.good {
			background-color: #ffec8b;
			border-color: #fc0 !important;
			display: block;
		}
		&.short {
			background-color: #ffa0a0;
			border-color: #f04040 !important;
			display: block;
		}
		&.strong {
			background-color: #c3ff88;
			border-color: #8dff1c !important;
			display: block;
		}
	}
	.standard-form#signup_form div div.error {
		background: #faa;
		color: #a00;
		margin: 0 0 10px;
		padding: 6px;
		width: 90%;
	}
	div {
		&.accept, &.reject {
			float: left;
			margin-left: 10px;
		}
	}
	ul.button-nav li {
		float: left;
		margin: 0 10px 10px 0;
		list-style: none;
	}
}

#sitewide-notice {
	#message {
		left: 2%;
		position: fixed;
		top: 1em;
		width: 96%;
		z-index: 9999;
	}
	&.admin-bar-on #message {
		top: 3.3em;
	}
	strong {
		display: block;
		margin-bottom: -1em;
	}
}

#buddypress {
	form fieldset {
		border: 0;
		padding: 0;
	}
	.dir-search input {
		&[type=search], &[type=text] {
			border: 1px solid #ccc;
			background: #fafafa;
			border-radius: 0;
			color: #767676;
			font: inherit;
			font-size: 100%;
			padding: 6px;
		}
	}
	.groups-members-search input {
		&[type=search], &[type=text] {
			border: 1px solid #ccc;
			background: #fafafa;
			border-radius: 0;
			color: #767676;
			font: inherit;
			font-size: 100%;
			padding: 6px;
		}
	}
	.standard-form {
		input {
			&[type=color], &[type=date], &[type=datetime-local], &[type=datetime], &[type=email], &[type=month], &[type=number], &[type=password], &[type=range], &[type=search], &[type=tel], &[type=text], &[type=time], &[type=url], &[type=week] {
				/*border: 1px solid #ccc;
				background: #fafafa;
				border-radius: 0;
				color: #767676;
				font: inherit;
				font-size: 100%;
				padding: 6px;*/
			}
		}
		select, textarea {
			/*border: 1px solid #ccc;
			background: #fafafa;
			border-radius: 0;
			color: #767676;
			font: inherit;
			font-size: 100%;
			padding: 6px;*/
		}
		select {
			padding: 3px;
		}
		input[type=password] {
			margin-bottom: 5px;
		}
		label, legend, span.label {
			display: block;
			font-weight: 700;
			margin: 15px 0 5px;
			width: auto;
		}
		#invite-list label, p label {
			font-weight: 400;
			margin: auto;
		}
		.checkbox label, .radio label {
			color: #767676;
			font-size: 100%;
			font-weight: 400;
			margin: 5px 0 0;
		}
		.checkbox label input, .radio label input {
			margin-right: 3px;
		}
		&#sidebar-login-form label {
			margin-top: 5px;
		}
		input[type=text] {
			width: 75%;
		}
		&#sidebar-login-form input {
			&[type=password], &[type=text] {
				padding: 4px;
				width: 95%;
			}
		}
		#basic-details-section input[type=password], #blog-details-section input#signup_blog_url {
			width: 35%;
		}
	}
	#commentform {
		input[type=text], textarea {
			width: 90%;
		}
	}
	.form-allowed-tags {
		width: 90%;
	}
	.standard-form#signup_form {
		input[type=text], textarea {
			//width: 90%;
		}
		div.submit {
			float: right;
		}
	}
	div#signup-avatar img {
		margin: 0 15px 10px 0;
	}
	.standard-form {
		textarea {
			width: 75%;
			height: 120px;
			&#message_content {
				height: 200px;
			}
		}
		&#send-reply textarea {
			width: 97.5%;
		}
		p.description {
			color: #767676;
			font-size: 80%;
			margin: 5px 0;
		}
		div.submit {
			clear: both;
			padding: 15px 0 0;
		}
		p.submit {
			margin-bottom: 0;
			padding: 15px 0 0;
		}
		div {
			&.submit input {
				margin-right: 15px;
			}
			&.radio ul {
				margin: 10px 0 15px 38px;
				list-style: disc;
				li {
					margin-bottom: 5px;
				}
			}
		}
		a.clear-value {
			display: block;
			margin-top: 5px;
			outline: 0;
		}
	}
	table {
		&.notification-settings {
			td:first-child, th.icon {
				display: none;
			}
		}
		&.notifications {
			td:first-child, th.icon {
				display: none;
			}
		}
	}
}

body.no-js #buddypress {
	#delete_inbox_messages, #delete_sentbox_messages, #message-type-select, #messages-bulk-management #select-all-messages, #notifications-bulk-management #select-all-notifications, label[for=message-type-select] {
		display: none;
	}
}

#buddypress {
	.standard-form {
		#basic-details-section, #blog-details-section {
			float: left;
			width: 48%;
		}
		#profile-details-section {
			float: left;
			width: 48%;
			float: right;
		}
	}
	#notifications-bulk-management {
		clear: left;
	}
	.standard-form {
		#blog-details-section {
			clear: left;
		}
		input:focus, select:focus, textarea:focus {
			/*background: #fafafa;
			color: #555;*/
		}
	}
	form#send-invite-form {
		margin-top: 20px;
	}
	div#invite-list {
		background: #f5f5f5;
		height: 400px;
		margin: 0 0 10px;
		overflow: auto;
		padding: 5px;
		width: 160px;
	}
	.comment-reply-link, .generic-button a, a.button, button {
		background: #fff;
		border: 1px solid #ccc;
		color: #767676;
		font-size: small;
		cursor: pointer;
		outline: 0;
		padding: 4px 10px;
		text-align: center;
		text-decoration: none;
	}
	input {
		&[type=button], &[type=reset], &[type=submit] {
			/*background: #fff;
			border: 1px solid #ccc;
			color: #767676;
			font-size: small;
			cursor: pointer;
			outline: 0;
			padding: 4px 10px;
			text-align: center;
			text-decoration: none;*/
		}
	}
	ul.button-nav li a {
		background: #fff;
		border: 1px solid #ccc;
		color: #767676;
		font-size: small;
		cursor: pointer;
		outline: 0;
		padding: 4px 10px;
		text-align: center;
		text-decoration: none;
	}
}

a.bp-title-button {
	background: #fff;
	border: 1px solid #ccc;
	color: #767676;
	font-size: small;
	cursor: pointer;
	outline: 0;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
}

#buddypress {
	.comment-reply-link:hover {
		background: #ededed;
		border: 1px solid #bbb;
		color: #555;
		outline: 0;
		text-decoration: none;
	}
	a.button {
		&:focus, &:hover {
			background: #ededed;
			border: 1px solid #bbb;
			color: #555;
			outline: 0;
			text-decoration: none;
		}
	}
	button:hover, div.generic-button a:hover {
		background: #ededed;
		border: 1px solid #bbb;
		color: #555;
		outline: 0;
		text-decoration: none;
	}
	input {
		&[type=button]:hover, &[type=reset]:hover, &[type=submit]:hover {
			/*background: #ededed;
			border: 1px solid #bbb;
			color: #555;
			outline: 0;
			text-decoration: none;*/
		}
	}
	ul.button-nav li {
		a:hover, &.current a {
			background: #ededed;
			border: 1px solid #bbb;
			color: #555;
			outline: 0;
			text-decoration: none;
		}
	}
	form.standard-form {
		.left-menu {
			float: left;
			#invite-list ul {
				margin: 1%;
				list-style: none;
				li {
					margin: 0 0 0 1%;
				}
			}
		}
		.main-column {
			margin-left: 190px;
			ul#friend-list {
				clear: none;
				float: left;
				h4 {
					clear: none;
				}
			}
		}
	}
	.wp-editor-wrap {
		a.button, button {
			padding: 0 8px 1px;
		}
		input {
			&[type=button], &[type=reset], &[type=submit] {
				padding: 0 8px 1px;
			}
		}
	}
	form [disabled=disabled] {
		cursor: default;
		opacity: .4;
	}
}

.bp-screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}

#buddypress {
	a.loading, input.loading {
		-webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
		-moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
		border-color: #aaa;
	}
	a.loading:hover, input.loading:hover {
		color: #767676;
	}
	a.disabled {
		border-color: #eee;
		color: #bbb;
		cursor: default;
	}
	button {
		&.disabled, &.pending {
			border-color: #eee;
			color: #bbb;
			cursor: default;
		}
	}
	div.pending a {
		border-color: #eee;
		color: #bbb;
		cursor: default;
	}
	input {
		&[type=submit] {
			&.disabled, &.pending, &[disabled=disabled] {
				border-color: #eee;
				color: #bbb;
				cursor: default;
			}
		}
		&[type=button] {
			&.disabled, &.pending {
				border-color: #eee;
				color: #bbb;
				cursor: default;
			}
		}
		&[type=reset] {
			&.disabled, &.pending {
				border-color: #eee;
				color: #bbb;
				cursor: default;
			}
		}
	}
	a.disabled:hover {
		border-color: #eee;
		color: #bbb;
	}
	button {
		&.disabled:hover, &.pending:hover {
			border-color: #eee;
			color: #bbb;
		}
	}
	div.pending a:hover {
		border-color: #eee;
		color: #bbb;
	}
	input {
		&[type=submit]:hover {
			&.disabled, &.pending {
				border-color: #eee;
				color: #bbb;
			}
		}
		&[type=button]:hover {
			&.disabled, &.pending {
				border-color: #eee;
				color: #bbb;
			}
		}
		&[type=reset]:hover {
			&.disabled, &.pending {
				border-color: #eee;
				color: #bbb;
			}
		}
	}
	ul#topic-post-list {
		margin: 0;
		width: auto;
		li {
			padding: 15px;
			position: relative;
			&.alt {
				background: #f5f5f5;
			}
			div {
				&.poster-meta {
					color: #767676;
					margin-bottom: 10px;
				}
				&.post-content {
					margin-left: 54px;
				}
			}
		}
	}
	div {
		&.topic-tags {
			font-size: 80%;
		}
		&.admin-links {
			color: #767676;
			font-size: 80%;
			position: absolute;
			top: 15px;
			right: 25px;
		}
		&#topic-meta {
			margin: 0;
			padding: 5px 19px 30px;
			position: relative;
			div.admin-links {
				right: 19px;
				top: -36px;
			}
			h3 {
				margin: 5px 0;
			}
		}
		&#new-topic-post {
			display: none;
			margin: 20px 0 0;
			padding: 1px 0 0;
		}
	}
	table {
		&.forum, &.messages-notices, &.notifications, &.notifications-settings, &.profile-fields, &.profile-settings, &.wp-profile-fields {
			width: 100%;
		}
		&.forum thead tr, &.messages-notices thead tr, &.notifications thead tr, &.notifications-settings thead tr, &.profile-fields thead tr, &.profile-settings thead tr, &.wp-profile-fields thead tr {
			background: #eaeaea;
		}
		&#message-threads {
			clear: both;
		}
		&.profile-fields {
			margin-bottom: 20px;
		}
		tr td.thread-info p {
			margin: 0;
		}
		&.profile-fields {
			p {
				margin: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			p:last-child {
				margin-top: 0;
			}
		}
		&.forum tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.messages-notices tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.notifications tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.notifications-settings tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.profile-fields tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.profile-settings tr td {
			padding: 8px;
			vertical-align: middle;
		}
		&.wp-profile-fields tr {
			td, th {
				padding: 8px;
				vertical-align: middle;
			}
		}
		&.forum tr td.label, &.messages-notices tr td.label, &.notifications tr td.label, &.notifications-settings tr td.label, &.profile-fields tr td.label, &.wp-profile-fields tr td.label {
			border-right: 1px solid #eaeaea;
			font-weight: 700;
			width: 25%;
		}
	}
	#message-threads .thread-info {
		min-width: 40%;
	}
	table {
		tr td.thread-info p.thread-excerpt {
			color: #767676;
			font-size: 80%;
			margin-top: 3px;
		}
		&.forum {
			td {
				text-align: center;
			}
			tr.alt td {
				background: #f5f5f5;
			}
		}
		&.messages-notices tr.alt td, &.notifications tr.alt td, &.notifications-settings tr.alt td, &.profile-fields tr.alt td, &.profile-settings tr.alt td, &.wp-profile-fields tr.alt td {
			background: #f5f5f5;
		}
		&.notification-settings {
			margin-bottom: 20px;
			text-align: left;
		}
	}
	#groups-notification-settings {
		margin-bottom: 0;
	}
	table {
		&.notification-settings th.title, &.profile-settings th.title {
			width: 80%;
		}
		&.notification-settings {
			.no, .yes {
				text-align: center;
				width: 40px;
			}
		}
		&.forum {
			margin: 0;
			width: auto;
			clear: both;
			tr {
				&.sticky td {
					font-size: 110%;
					background: #fff9db;
					border-top: 1px solid #ffe8c4;
					border-bottom: 1px solid #ffe8c4;
				}
				&.closed td.td-title {
					padding-left: 35px;
				}
			}
			td p.topic-text {
				color: #767676;
				font-size: 100%;
			}
			tr > {
				td:first-child, th:first-child {
					padding-left: 15px;
				}
				td:last-child, th:last-child {
					padding-right: 15px;
				}
			}
			td {
				&.td-group, &.td-poster, &.td-title {
					text-align: left;
				}
			}
			tr {
				th {
					&#th-group, &#th-poster, &#th-title {
						text-align: left;
					}
				}
				td.td-title a.topic-title {
					font-size: 110%;
				}
			}
			td {
				&.td-freshness {
					white-space: nowrap;
					span.time-since {
						font-size: 80%;
						color: #767676;
					}
				}
				img.avatar {
					float: none;
					margin: 0 5px -8px 0;
				}
				&.td-group, &.td-poster {
					min-width: 140px;
				}
			}
			th {
				&#th-title {
					width: 80%;
				}
				&#th-freshness {
					width: 25%;
				}
				&#th-postcount {
					width: 15%;
				}
			}
			p.topic-meta {
				font-size: 80%;
				margin: 5px 0 0;
			}
		}
	}
	.item-body {
		margin: 20px 0;
	}
	span {
		&.activity {
			display: inline-block;
			font-size: small;
			opacity: .8;
			padding: 0;
		}
		&.user-nicename {
			color: #767676;
			display: inline-block;
			font-size: 120%;
			font-weight: 700;
		}
	}
	div#message p {
		font-weight: 400;
		margin-top: 3px;
		text-decoration: none;
		background-color: #ffd;
		border: 1px solid #cb2;
		color: #440;
	}
}

@-webkit-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-webkit-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}

	to {
		border-color: #ccc;
		-webkit-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}


@-moz-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-moz-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}

	to {
		border-color: #ccc;
		-moz-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}


#sitewide-notice p {
	font-weight: 400;
	margin-top: 3px;
	text-decoration: none;
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
}

#buddypress {
	#item-header:after {
		clear: both;
		content: "";
		display: table;
	}
	div#item-header {
		div#item-header-content {
			float: left;
			margin-left: 0;
		}
		h2 {
			line-height: 120%;
			margin: 0 0 15px;
			a {
				color: #767676;
				text-decoration: none;
			}
		}
		img.avatar {
			float: left;
			margin: 0 15px 19px 0;
		}
		h2 {
			margin-bottom: 5px;
			span.highlight {
				font-size: 60%;
				font-weight: 400;
				line-height: 170%;
				vertical-align: middle;
				display: inline-block;
			}
		}
		ul {
			h5, hr, span {
				display: none;
			}
		}
	}
}

body.no-js #buddypress div#item-header .js-self-profile-button {
	display: none;
}

#buddypress {
	div#item-header {
		h2 span.highlight span {
			background: #a1dcfa;
			color: #fff;
			cursor: pointer;
			font-weight: 700;
			font-size: 80%;
			margin-bottom: 2px;
			padding: 1px 4px;
			position: relative;
			right: -2px;
			top: -2px;
			vertical-align: middle;
		}
		div {
			&#item-meta {
				font-size: 80%;
				color: #767676;
				overflow: hidden;
				margin: 15px 0 5px;
				padding-bottom: 10px;
			}
			&#item-actions {
				float: right;
				margin: 0 0 15px 15px;
				text-align: right;
				width: 20%;
				h3 {
					margin: 0 0 5px;
				}
			}
		}
		ul {
			margin-bottom: 15px;
			overflow: hidden;
			li {
				float: right;
				list-style: none;
			}
			img.avatar, &.avatars img.avatar {
				height: 30px;
				margin: 2px;
				width: 30px;
			}
		}
		a.button {
			float: left;
			margin: 10px 10px 0 0;
		}
		div {
			&.generic-button {
				float: left;
				margin: 10px 10px 0 0;
			}
			&#message.info {
				line-height: 80%;
			}
		}
	}
	ul.item-list {
		border-top: 1px solid #eaeaea;
		width: 100%;
		list-style: none;
		clear: both;
		margin: 0;
		padding: 0;
	}
}

body.activity-permalink #buddypress ul.item-list {
	border: none;
	li.activity-item {
		border: none;
	}
}

#buddypress {
	ul {
		&.item-list li {
			border-bottom: 1px solid #eaeaea;
			padding: 15px 0;
			margin: 0;
			position: relative;
			list-style: none;
		}
		&.single-line li {
			border: none;
		}
		&.item-list li {
			img.avatar {
				float: left;
				margin: 0 10px 0 0;
			}
			div.item-title, h4 {
				font-weight: 400;
				font-size: 90%;
				margin: 0;
				width: 75%;
			}
			div {
				&.item-title span {
					color: #767676;
					font-size: 80%;
				}
				&.item-desc {
					color: #767676;
					font-size: 80%;
					margin: 10px 0 0 60px;
					width: 50%;
				}
			}
			&.group-no-avatar div.item-desc {
				margin-left: 0;
			}
			div {
				&.action {
					position: absolute;
					top: 15px;
					right: 0;
					text-align: right;
				}
				&.meta {
					color: #767676;
					font-size: 80%;
					margin-top: 10px;
				}
			}
			h5 span.small {
				float: right;
				font-size: 80%;
				font-weight: 400;
			}
		}
	}
	div {
		&.item-list-tabs {
			background: 0 0;
			clear: left;
			overflow: hidden;
			ul {
				margin: 0;
				padding: 0;
				li {
					float: left;
					margin: 0;
					list-style: none;
				}
			}
			&#subnav ul li {
				margin-top: 0;
			}
			ul li.last {
				float: right;
				margin: 7px 0 0;
			}
			&#subnav ul li.last {
				margin-top: 4px;
			}
			ul li {
				&.last select {
					max-width: 185px;
				}
				a, span {
					display: block;
					padding: 5px 10px;
					text-decoration: none;
				}
				a span {
					background: #eee;
					border-radius: 50%;
					border: 1px solid #ccc;
					color: #6c6c6c;
					display: inline;
					font-size: 70%;
					margin-left: 2px;
					padding: 3px 6px;
					text-align: center;
					vertical-align: middle;
				}
				&.current a, &.selected a {
					background-color: #eee;
					color: #555;
					opacity: .8;
					font-weight: 700;
				}
				a:hover span, &.current a span, &.selected a span {
					background-color: #eee;
				}
				&.current a span, &.selected a span {
					background-color: #fff;
				}
			}
		}
		&#item-nav ul li.loading a {
			background-position: 88% 50%;
		}
		&.item-list-tabs {
			&#object-nav {
				margin-top: 0;
			}
			&#subnav {
				background: 0 0;
				margin: 10px 0;
				overflow: hidden;
			}
		}
	}
	#admins-list li, #members-list li, #mods-list li {
		overflow: auto;
		list-style: none;
	}
	div#message-thread div.message-metadata {
		overflow: hidden;
	}
}

.widget.buddypress div.avatar-block {
	overflow: hidden;
}

#buddypress {
	#item-buttons:empty {
		display: none;
	}
	#cover-image-container {
		position: relative;
		z-index: 0;
	}
	#header-cover-image {
		background-color: $light-gray;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		border: 0;
		display: block;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	#item-header-cover-image {
		//padding: 0 1em;
		position: relative;
		z-index: 2;
	}
	table#message-threads tr.unread td {
		background: #fff9db;
		border-top: 1px solid #ffe8c4;
		border-bottom: 1px solid #ffe8c4;
		font-weight: 700;
		.activity, .thread-excerpt, &.thread-options {
			font-weight: 400;
		}
	}
	li span.unread-count, tr.unread span.unread-count {
		background: #d00;
		color: #fff;
		font-weight: 700;
		padding: 2px 8px;
	}
	div {
		&.item-list-tabs ul li a span.unread-count {
			padding: 1px 6px;
			color: #fff;
		}
		&#message-thread {
			div {
				&.message-box {
					margin: 0;
					padding: 15px;
				}
				&.alt {
					background: #f4f4f4;
				}
			}
			p#message-recipients {
				margin: 10px 0 20px;
			}
			img.avatar {
				float: left;
				margin: 0 10px 0 0;
				vertical-align: middle;
			}
			strong {
				font-size: 100%;
				margin: 0;
				a {
					text-decoration: none;
				}
				span.activity {
					margin-top: 4px;
				}
			}
			div {
				&.message-content {
					margin-left: 45px;
				}
				&.message-options {
					text-align: right;
				}
			}
		}
	}
	#message-threads img.avatar {
		max-width: none;
	}
	div.message-search {
		float: right;
		margin: 0 20px;
	}
}

.message-metadata {
	position: relative;
}

.message-star-actions {
	position: absolute;
	right: 0;
	top: 0;
}

#buddypress a {
	&.message-action-star, &.message-action-unstar {
		border-bottom: 0;
		text-decoration: none;
		outline: 0;
	}
}

a.message-action-star {
	opacity: .7;
	&:hover {
		opacity: 1;
	}
}

.message-action-star span.icon:before, .message-action-unstar span.icon:before {
	font-family: dashicons;
	font-size: 18px;
}

.message-action-star span.icon:before {
	color: #767676;
	content: "\f154";
}

.message-action-unstar span.icon:before {
	color: #fcdd77;
	content: "\f155";
}

#buddypress {
	div.profile h4 {
		margin-bottom: auto;
		margin-top: 15px;
	}
	#profile-edit-form {
		ul.button-nav {
			margin-top: 15px;
		}

		input {
			margin: 0;
			max-width: 500px;
		}
	}
}

body.no-js #buddypress {
	.field-visibility-settings-close, .field-visibility-settings-toggle {
		display: none;
	}
}

#buddypress .field-visibility-settings {
	display: none;
	margin-top: 10px;
}

body.no-js #buddypress .field-visibility-settings {
	display: block;
}

#buddypress {
	.current-visibility-level {
		font-weight: 700;
		font-style: normal;
	}
	.field-visibility-settings, .field-visibility-settings-notoggle, .field-visibility-settings-toggle {
		color: #767676;
		font-size: 0.875rem;
		margin: 0;
	}
	.field-visibility-settings a, .field-visibility-settings-toggle a {
		font-size: 80%;
	}
}

body.register #buddypress div.page ul {
	list-style: none;
}

#buddypress {
	.standard-form .field-visibility-settings label {
		margin: 0;
		font-weight: 400;
	}
	.field-visibility-settings legend, .field-visibility-settings-toggle {
		font-style: italic;
	}
	.field-visibility-settings .radio {
		list-style: none;
		margin-bottom: 0;
	}
	.field-visibility select {
		margin: 0;
	}
	.wp-editor-container {
		border: 1px solid #dedede;
	}
	.html-active button.switch-html, .tmce-active button.switch-tmce {
		border-bottom-color: transparent;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background: #f5f5f5;
	}
	.standard-form .wp-editor-container textarea {
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.widget.buddypress {
	div.item-avatar img.avatar {
		float: left;
		margin: 0 10px 15px 0;
	}
	span.activity {
		display: inline-block;
		font-size: small;
		opacity: .8;
		padding: 0;
	}
	div {
		&.item-options {
			font-size: 90%;
			margin: 0 0 1em;
			padding: 1em 0;
		}
		&.item {
			margin: 0 0 1em;
		}
		&.item-content, &.item-meta {
			font-size: 11px;
			margin-left: 50px;
		}
	}
	ul.item-list img.avatar {
		height: 40px;
		margin-right: 10px;
		width: 40px;
	}
	div.item-avatar img {
		height: 40px;
		margin: 1px;
		width: 40px;
	}
	#bp-login-widget-form {
		label {
			display: block;
			margin: 1rem 0 .5rem;
		}
		#bp-login-widget-submit {
			margin-right: 10px;
		}
	}
	.bp-login-widget-user-avatar {
		float: left;
	}
}

.bp-login-widget-user-avatar img.avatar {
	height: 40px;
	width: 40px;
}

.widget.buddypress {
	.bp-login-widget-user-links > div {
		padding-left: 60px;
		margin-bottom: .5rem;
		&.bp-login-widget-user-link a {
			font-weight: 700;
		}
	}
	#friends-list, #groups-list, #members-list {
		margin-left: 0;
		padding-left: 0;
	}
	#friends-list li, #groups-list li, #members-list li {
		clear: both;
		list-style-type: none;
	}
}

@media only screen and (max-width: 480px) {
	#buddypress div.dir-search {
		float: right;
		margin-top: -50px;
		text-align: right;
		input[type=text] {
			margin-bottom: 1em;
			width: 50%;
		}
	}
	a.bp-title-button {
		margin-left: 10px;
	}
	#buddypress form.standard-form .main-column {
		div.action {
			position: relative;
			margin-bottom: 1em;
		}
		ul#friend-list h4 {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 320px) {
	#buddypress {
		div.dir-search, ul.item-list li div.action {
			margin-top: 0;
			text-align: left;
			clear: left;
			float: left;
		}
		li#groups-order-select {
			clear: left;
			float: left;
		}
		ul.item-list li div {
			&.action {
				margin-left: 70px;
				position: relative;
				top: 0;
				right: 0;
			}
			&.item-desc {
				clear: left;
				float: left;
				margin: 10px 0 0;
				width: auto;
			}
		}
		li div.item {
			margin-left: 70px;
			width: auto;
		}
		ul.item-list li div.meta {
			margin-top: 0;
		}
		.item-desc p {
			margin: 0 0 10px;
		}
		div.pagination .pag-count {
			margin-left: 0;
		}
	}
}

@media only screen and (max-width: 240px) {
	#buddypress {
		div.dir-search {
			float: left;
			margin: 0;
			input[type=text] {
				width: 50%;
			}
		}
		li#groups-order-select {
			float: left;
		}
		ul.item-list li img.avatar {
			width: 30px;
			height: auto;
		}
		li div.item, ul.item-list li div.action {
			margin-left: 45px;
		}
	}
	h1 a.bp-title-button {
		clear: left;
		float: left;
		margin: 10px 0 20px;
	}
}







/* Cover image */
#buddypress #header-cover-image {
	height: 225px;
	//background-image: url(http://aio.local/vxm/assets/buddypress/members/1/cover-image/58065c46367d5-bp-cover-image.jpg);
}

#buddypress #create-group-form #header-cover-image {
	margin: 1em 0;
	position: relative;
}

.bp-user #buddypress #item-header {
	padding-top: 0;
}

#buddypress #item-header-cover-image #item-header-avatar {
	margin-top: 145px;
	float: left;
	overflow: visible;
	width: auto;
}

#buddypress div#item-header #item-header-cover-image #item-header-content {
	clear: both;
	float: left;
	margin-left: 170px;
	margin-top: -140px;
	width: auto;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
	clear: none;
	margin-top: 225px;
	margin-left: 0;
	max-width: 50%;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
	max-width: 20%;
	padding-top: 20px;
}



#buddypress div#item-header-cover-image .user-nicename a,
#buddypress div#item-header-cover-image .user-nicename {
	font-size: 200%;
	color: #fff;
	margin: 0 0 0.6em;
	text-rendering: optimizelegibility;
	text-shadow: 0 0 3px rgba( 0, 0, 0, 0.8 );
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
	background: rgba( 255, 255, 255, 0.8 );
	border: solid 2px #fff;
	border-radius: 50%;
}

#buddypress #item-header-cover-image #item-header-avatar a {
	border: 0;
	text-decoration: none;
}

#buddypress #item-header-cover-image #item-buttons {
	margin: 0 0 10px;
	padding: 0 0 5px;
}

#buddypress #item-header-cover-image #item-buttons:after {
	clear: both;
	content: "";
	display: table;
}

@media screen and (max-width: 782px) {
	#buddypress #item-header-cover-image #item-header-avatar,
	.bp-user #buddypress #item-header #item-header-cover-image #item-header-avatar,
	#buddypress div#item-header #item-header-cover-image #item-header-content {
		width: 100%;
		text-align: center;
	}

	#buddypress #item-header-cover-image #item-header-avatar a {
		display: inline-block;
	}

	#buddypress #item-header-cover-image #item-header-avatar img {
		margin: 0;
	}

	#buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
		margin: 0;
	}

	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
	body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
		max-width: 100%;
	}

	#buddypress div#item-header-cover-image h2 a,
	#buddypress div#item-header-cover-image h2 {
		color: inherit;
		text-shadow: none;
		margin: 25px 0 0;
		font-size: 200%;
	}

	#buddypress #item-header-cover-image #item-buttons div {
		float: none;
		display: inline-block;
	}

	#buddypress #item-header-cover-image #item-buttons:before {
		content: "";
	}

	#buddypress #item-header-cover-image #item-buttons {
		margin: 5px 0;
	}
}